﻿@using DevInterview.Common.Configuration
@using DevInterview.Web.Infrastructure.RazorExtensions
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@ViewBag.MetaDescription">
	<meta name="robots" content="all"/>
	<meta name="msvalidate.01" content="3054E54266B5F0A7601851185E75FEDB"/>
	<meta property="og:site_name" content="@AppCfgReader.DomainName"/>
	<meta property="og:title" content="@ViewBag.MetaTitle"/>
	<meta property="og:url" content="@ViewBag.CanonicalUrl"/>
	<meta property="og:description" content="@ViewBag.MetaDescription"/>
	<meta property="og:image" content="@string.Format("http://{0}/Images/site-preview.png", AppCfgReader.DomainName)"/>
	@if (IsSectionDefined("metatags"))
	{
		@RenderSection("metatags", false)
	}
	else
	{
		<meta property="og:type" content="website"/>
	}
	<link rel="canonical" href="@ViewBag.CanonicalUrl">
	<title>@ViewBag.MetaTitle</title>
	<link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	@Styles.Render("~/bundles/css")
	@RenderSection("styles", false)
	@if (!Request.IsLocal)
	{
	    <script>
    	    (function(i, s, o, g, r, a, m) {
    	        i['GoogleAnalyticsObject'] = r;
    	        i[r] = i[r] ||
    	            function() {
    	                (i[r].q = i[r].q || []).push(arguments);
    	            }, i[r].l = 1 * new Date();
    	        a = s.createElement(o),
    	            m = s.getElementsByTagName(o)[0];
    	        a.async = 1;
    	        a.src = g;
    	        m.parentNode.insertBefore(a, m);
    	    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    	    ga('create', 'UA-69101813-2', 'auto');
    	    ga('require', 'linkid');
    	    ga('send', 'pageview');
    	</script>
	}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<meta itemprop="name" content="@ViewBag.MetaTitle"/>
<meta itemprop="description" content="@ViewBag.MetaDescription"/>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<header>
	<nav class="navbar navbar-default navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="container">
			<div class="navbar-logo">
				<a href="/" itemprop="url">Dev.Interview</a>
			</div>
			<div class="navbar-menu">
				<div>
					<a href="@Url.RouteUrl("TopRated")" class="btn btn-link" itemprop="url" title="Top Rated">
						<span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;<span class="@Html.ActivePage("TopRated", "Post")" itemprop="name">Top Rated</span>
					</a>
				</div>
				<div>
					<a href="@Url.RouteUrl("MostViewed")" class="btn btn-link" itemprop="url" title="Most Viewed">
						<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;<span class="@Html.ActivePage("MostViewed", "Post")" itemprop="name">Most Viewed</span>
					</a>
				</div>
				<div>
					<a href="@Url.RouteUrl("Rss")" class="btn btn-link" itemprop="url" title="RSS">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;<span itemprop="name">RSS</span>
					</a>
				</div>
				<div>
					<a href="@Url.RouteUrl("About")" class="btn btn-link" itemprop="url" title="About">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<span class="@Html.ActivePage("About", "Home")" itemprop="name">About</span>
					</a>
				</div>
				<div>
					<a href="@Url.RouteUrl("Search")" class="btn btn-link btn-search" itemprop="url" title="Search">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;<span class="@Html.ActivePage("Search", "Post")" itemprop="name">Search</span>
					</a>
				</div>
				@if (Request.IsAuthenticated)
				{
					<div>
						@Html.ActionLink("Control Panel", "Index", "Admin", new
						{
							Area = "ControlPanel"
						}, new
						{
							@class = "btn btn-link " + Html.ActivePage("Index", "Admin")
						})
					</div>
					<div>
						@Html.ActionLink("Log out", "Logoff", "Account", new
						{
							area = ""
						}, new
						{
							@class = "btn btn-link " + Html.ActivePage("Logoff", "Account")
						})
					</div>
				}
			</div>
		</div>
	</nav>
</header>
<div class="container">
	<div class="row">
		<main class="body-content widget col-lg-9">
			@RenderBody()
		</main>
		<aside class="sidebar col-lg-3" itemscope itemtype="http://schema.org/WPSideBar">
			@Html.Partial("_Sidebar")
		</aside>
	</div>
</div>
<footer class="footer-container hidden-xs hidden-sm hidden-md">
	<div class="footer-text">© @DateTime.Now.Year @AppCfgReader.DomainName — prepare yourself for the next interview</div>
</footer>
@Scripts.Render("~/bundles/browser-selector")
@RenderSection("scripts", false)
<script>
	(function() {
		window.VanillaApp = window.VanillaApp || {};

		window.VanillaApp.voteUp = function(id) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 && xhttp.status == 200 && xhttp.responseText == "\"ok\"") {
					var votes = document.getElementById('spnVotesDiff' + id);
					votes.innerHTML = parseInt(votes.innerHTML) + 1;
					votes.title = votes.innerHTML;
					votes.className = votes.className + " blue";

					var votesUp = document.getElementById('spnVoteUp' + id);
					votesUp.title = parseInt(votes.title) + 1;
				}
			};
			xhttp.open('GET', '/Post/VotePost/' + id + '?voteUp=true', true);
			xhttp.send();
		};

		window.VanillaApp.voteDown = function(id) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 && xhttp.status == 200 && xhttp.responseText == "\"ok\"") {
					var votes = document.getElementById('spnVotesDiff' + id);
					votes.innerHTML = parseInt(votes.innerHTML) - 1;
					votes.title = votes.innerHTML;

					var votesDown = document.getElementById('spnVoteDown' + id);
					votesDown.title = parseInt(votes.title) - 1;
				}
			};
			xhttp.open('GET', '/Post/VotePost/' + id + '?voteUp=false', true);
			xhttp.send();
		};
	})();
</script>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'developerinterview'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var s = document.createElement('script');
		s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
</body>
</html>