﻿@using DevInterview.Web.Infrastructure.RazorExtensions
@model PostModel
@{
	int rating = Model.Rating.VotesDifference;
	string ratingBadgeClass = rating > 0 ? "blue" : "gray";
	string date = Model.Created.ToString("yyyy-MM-dd");
}

<div class="post-info">
	<span class="post-info-section">
		<span class="glyphicon glyphicon-arrow-up" title="@Model.Rating.VotesUp" onclick="VanillaApp.voteUp(@Model.Id)" id="@("spnVoteUp" + Model.Id)"></span>
		<span class="badge @ratingBadgeClass" title="@Model.Rating.VotesDifference" id="@("spnVotesDiff" + Model.Id)">@rating</span>
		<span class="glyphicon glyphicon-arrow-down" title="@Model.Rating.VotesDown" onclick="VanillaApp.voteDown(@Model.Id)" id="@("spnVoteDown" + Model.Id)"></span>
	</span>
	<span class="post-info-separator">ѳ</span>
	<span class="post-info-section">
		<span class="glyphicon glyphicon-eye-open"></span><span class="badge no-margin-right">@Model.Views</span>
	</span>
	<span class="post-info-separator">ѳ</span>
	<span class="post-info-section">
		<a href="@Url.RouteUrl("Post", new
		         {
			         id = Model.Id,
			         category = Model.Category.UrlSlug,
			         url = Model.UrlSlug
		         })#comments" itemprop="discussionUrl">
			comments
			<span class="badge comments-counter disqus-comment-count" data-disqus-url="@Url.AbsoluteRouteUrl("Post", new
			                                                                           {
				                                                                           id = Model.Id,
				                                                                           category = Model.Category.UrlSlug,
				                                                                           url = Model.UrlSlug
			                                                                           })">
				0
			</span>
		</a>
	</span>
</div>