﻿@using DevInterview.Web.Infrastructure.RazorExtensions
@model PostModel
@{
	string pageUrl = Url.AbsoluteRouteUrl("Post", new
	{
		id = Model.Id,
		category = Model.Category.UrlSlug,
		url = Model.UrlSlug
	});
	string date = Model.Created.ToString("yyyy-MM-dd");
}

<div class="footer-post-info">
	<div class="post-tags">
		@foreach (TagModel tag in Model.Tags)
		{
			@Html.RouteLink(tag.Title, "Tag", new
			{
				tag = tag.UrlSlug
			}, new
			{
				@class = "btn btn-default btn-xs"
			})
		}
	</div>
	<div class="post-date">
		<span>
			<time itemprop="datePublished" datetime="@date">@Model.Created.Date.ToShortDateString()</time> at @Html.RouteLink(Model.Category.Title, "Category", new
			                                                                                                  {
				                                                                                                  category = Model.Category.UrlSlug
			                                                                                                  })</span>
	</div>
</div>
@if (Model.IsFullPost)
{
	<div class="social-buttons">
		<div class="fb-like" data-href="@pageUrl" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<span class="post-share-separator">ѳ</span>
		<a href="http://twitter.com/intent/tweet?url=@pageUrl&text=@Uri.EscapeUriString(Model.Title)" target="_blank">
			<img alt="Share on Twitter" src="~/Images/tweet-button.png"/>
		</a>
		<span class="post-share-separator">ѳ</span>
		<a href="https://plus.google.com/share?url=@pageUrl" target="_blank">
			<img alt="Share on Google+" src="~/Images/g-button.png"/>
		</a>
	</div>
}