﻿@model PostModel

<article class="post-wrapper" @(!Model.IsFullPost ? "itemprop=blogPost" : "") itemscope itemtype="http://schema.org/BlogPosting">
	<meta itemprop="name" content="@ViewBag.MetaTitle"/>
	<meta itemprop="description" content="@ViewBag.MetaDescription"/>
	<header class="post-header">
		@if (Model.IsFullPost)
		{
			<h1 itemprop="headline">
				@Model.Title
				@if (Request.IsAuthenticated)
				{
					<a href="@Url.Action("Index", "Admin", new
					         {
						         Area = "ControlPanel"
					         })/EditPost/@Model.Id" class="btn btn-default btn-xs">
						Edit
					</a>
				}
			</h1>
		}
		else
		{
			<h2 itemprop="headline">
				@Html.RouteLink(Model.Title, "Post", new
				{
					id = Model.Id,
					category = Model.Category.UrlSlug,
					url = Model.UrlSlug
				}, null)
			</h2>
		}
		@{ Html.RenderPartial("_PostInfo", Model); }
	</header>
    <div class="post-body" itemprop="articleBody">
        @Html.Raw(Model.BodyStart)
        @if (Model.IsFullPost)
        {
            @Html.Raw(Model.BodyEnd)
        }
    </div>
	<footer class="post-footer clearfix">
		@{ Html.RenderPartial("_PostFooter", Model); }
	</footer>
</article>
<div class="post-separator"></div>