﻿@using DevInterview.Common.Configuration
<div class="page-header">
	<h1>About</h1>
</div>

<div>
	<h2>This website</h2>
	<p>
		Hello. You are on the <strong>@AppCfgReader.DomainName</strong> and as you might guess based on the name of this website, it is about software development job interviews.
		This website can be useful both to interviewers and interviewees, since it has not only interesting job interview questions but also answers to them.
		You may find well categorized and properly tagged list of Q&amp;A on such topics as <i>Algorithms, ASP.NET MVC, ASP.NET WebForms, C#, HTML/CSS, JavaScript, OOP and OOD, Software Development</i> and <i>SQL and Databases</i>.
		Visit <a href="@Url.RouteUrl("Search")" title="Search">Search</a> page, it has some handy functions and will let you find exactly what you need.
	</p>
	<h2>Me</h2>
	<p>
		<img src="~/Images/me.jpg" class="my-img"/>
		<br/>
		My name is <strong>Georgy Streletsky</strong>, I'm software developer with 5 years of experience, mainly in web development.
		In everyday work I use .NET Framework, C#, ASP.NET MVC, JS, HTML/CSS, SQL, so Q&amp;A gathered here are related to this technologies or software development in general.
		I've created this website on my free time not only to exercise my technical skills and advance my theoretical knowledge, but also to create a convenient source of questions and answers,
		which I and other developers could refer to at any time in order to prepare to the next technical interview or just refresh knowledge. I've accumulated questions I find interesting,
		which you might want to ask or might be asked on your interview, and tried to write short and clear answers to them based on different sources on the Internet and on my own experience and knowledge.
	</p>
	<p>
		If you have any questions or want to share an advice, feel free to contact me via <a href="mailto:xstrelxetskyix@gmailx.comx" onmouseover="this.href = this.href.replace(/x/g, '');">email</a>.
		<br/>
		My LinkedIn profile: <a class="supress-border-bottom" href="https://ua.linkedin.com/pub/georgy-streletsky/55/842/514">
			<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Georgy Streletsky's profile on LinkedIn">
		</a>
	</p>
</div>