﻿@using System.Web.Optimization
@{
	ViewBag.Title = "Control Panel";
}

@section scripts
{
	<script>
		CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
	</script>
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/ckeditor")
	@Scripts.Render("~/bundles/ngtablejs")
	@Scripts.Render("~/bundles/ngtagsjs")
	@Scripts.Render("~/bundles/controlpanel")
}

@section styles
{
	@Styles.Render("~/bundles/ngtable")
	@Styles.Render("~/bundles/ngtagsinput")
}

@section metatags {
	<base href="/ControlPanel/Admin/">
}

<div ng-app="controlPanel">
	<h1 class="text-center">Control Panel</h1>
	<div class="btn-group btn-group-justified" role="group">
		<a class="btn btn-default" active-link="active" href="/ControlPanel/Admin/Posts">Posts</a>
		<a class="btn btn-default" active-link="active" href="/ControlPanel/Admin/Categories">Categories</a>
		<a class="btn btn-default" active-link="active" href="/ControlPanel/Admin/Users">Users</a>
		<a class="btn btn-default" active-link="active" href="/ControlPanel/Admin/Configuration">Configuration</a>
		<a class="btn btn-default" active-link="active" href="/ControlPanel/Admin/Logs">Logs</a>
		@Html.ActionLink("Jasmine", "Run", "Jasmine", null, new
		{
			@class = "btn btn-default"
		})
	</div>
	<div ng-view></div>
</div>