﻿@model PostModel

@section metatags
{
	<meta property="og:type" content="article"/>
	<meta property="article:published_time" content="@Model.Created"/>
	<meta property="article:section" content="Programming"/>
	<meta property="article:tag" content="@string.Join(",", Model.Tags.Select(t => t.Title))"/>
}
@{ Html.RenderPartial("_Post", Model); }

@{ Html.RenderAction("SimilarPosts", new
   {
	   postId = Model.Id
   }); }

<section class="post-comments" id="comments">
	<h2>Comments</h2>
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>

@section styles {
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		*/

		var disqus_config = function() {
			this.page.url = '@Request.Url'; // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = '@Request.Url'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};

		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');

			s.src = '//developerinterview.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
}