﻿@model DevInterview.Dal.Entities.NotBusiness.SearchResult<PostModel>

<section itemscope itemtype="http://schema.org/Blog">
	<meta itemprop="name" content="@ViewBag.MetaTitle"/>
	<meta itemprop="description" content="@ViewBag.MetaDescription"/>
	<div class="page-header">
		<h1>@ViewBag.PageTitle</h1>
		<i class="page-description">@ViewBag.PageDescription</i>
	</div>
	@foreach (PostModel post in Model.Data)
	{
		if (post.IsVisible)
		{
			Html.RenderPartial("_Post", post);
		}
	}
</section>

@if (ViewBag.TotalPages > 1)
{
	<nav class="pages-nav">
		<ul class="pagination">
			<li class="@(ViewBag.Page == 1 ? "disabled" : "")">
				@if (ViewBag.Page > 1)
				{
					<a href="@(Url.RouteUrl((string)ViewBag.PagerRouteName, new
					           {
						           page = ViewBag.Page - 1
					           }))" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				}
				else
				{
					<span aria-hidden="true">&laquo;</span>
				}
			</li>
			@for (var i = 1; i <= ViewBag.TotalPages; ++i)
			{
				<li class="@(i == ViewBag.Page ? "active" : "")">
					@Html.RouteLink(i.ToString(), (string)ViewBag.PagerRouteName, new
					{
						page = i
					})
				</li>
			}
			<li class="@(ViewBag.Page == ViewBag.TotalPages ? "disabled" : "")">
				@if (ViewBag.Page < ViewBag.TotalPages)
				{
					<a href="@(Url.RouteUrl((string)ViewBag.PagerRouteName, new
					           {
						           page = ViewBag.Page + 1
					           }))" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				}
				else
				{
					<span aria-hidden="true">&raquo;</span>
				}
			</li>
		</ul>
	</nav>
}