﻿@using DevInterview.Web.Infrastructure.RazorExtensions
@model DevInterview.Dal.Entities.NotBusiness.SearchResult<PostModel>

@section styles
{
	@Styles.Render("~/bundles/ngtagsinput")
}

<div class="page-header">
	<h1>@ViewBag.PageTitle</h1>
	<i class="page-description">
		Search articles by text, category, tags or combine search criteria.
	</i>
</div>

<div ng-app="mainApp" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
	<div ng-controller="SearchCtrl" class="search-section form-horizontal">
		<meta itemprop="target" content="@Url.AbsoluteRouteUrl("Search")?text={search_term}"/>
		<div class="form-group">
			<label class="col-md-2 control-label">Text</label>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="Search query" ng-model="postsQuery.Text" itemprop="query-input" name="search_term" maxlength="512">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Category</label>
			<div class="col-md-3">
				<select ng-model="postsQuery.Category.Id" ng-options="cat.Id as cat.Title for cat in categories" class="form-control">
					<option value=""></option>
				</select>
			</div>
			<label class="col-md-2 control-label">Tags</label>
			<div class="col-md-5">
				<tags-input ng-model="postsQuery.Tags" key-property="Id" display-property="Title" add-from-autocomplete-only="true">
					<auto-complete source="loadTags($query)" display-property="Title"></auto-complete>
				</tags-input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Sort</label>
			<div class="col-md-3">
				<select ng-model="postsQuery.OrderBy" ng-options="opt.Value as opt.Title for opt in orderOptions" class="form-control"></select>
			</div>
		</div>
		<br/>
		<div class="form-group">
			<div class="col-md-12">
				<button class="btn btn-default btn-sm" ng-click="search()">Search</button>
			</div>
		</div>
	</div>
</div>
@if (Model != null && Model.TotalRecords > 0)
{
	<div class="search-results">
		@foreach (PostModel post in Model.Data)
		{
			Html.RenderPartial("_Post", post);
		}

		@if (ViewBag.TotalPages > 1)
		{
			<nav class="pages-nav">
				<ul class="pagination">
					<li class="@(ViewBag.Page == 1 ? "disabled" : "")">
						@if (ViewBag.Page > 1)
						{
							<a href="@(Url.RouteUrl((string)ViewBag.PagerRouteName, new
							           {
								           page = ViewBag.Page - 1
							           }) + "?" + Request.QueryString)" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						}
						else
						{
							<span aria-hidden="true">&laquo;</span>
						}
					</li>
					@for (var i = 1; i <= ViewBag.TotalPages; ++i)
					{
						<li class="@(i == ViewBag.Page ? "active" : "")">
							@if (ViewBag.Page != i)
							{
								<a href="@(Url.RouteUrl((string)ViewBag.PagerRouteName, new
								           {
									           page = i
								           }) + "?" + Request.QueryString)">
									@i
								</a>
							}
							else
							{
								<span aria-hidden="true">@i</span>
							}
						</li>
					}
					<li class="@(ViewBag.Page == ViewBag.TotalPages ? "disabled" : "")">
						@if (ViewBag.Page < ViewBag.TotalPages)
						{
							<a href="@(Url.RouteUrl((string)ViewBag.PagerRouteName, new
							           {
								           page = ViewBag.Page + 1
							           }) + "?" + Request.QueryString)" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						}
						else
						{
							<span aria-hidden="true">&raquo;</span>
						}
					</li>
				</ul>
			</nav>
		}
	</div>
}
else if (Model != null && Model.TotalRecords == 0)
{
	<div class="text-center">I'm sorry, nothing was found.</div>
}

@section scripts
{
	<script>
		(function() {
			window.VanillaApp = window.VanillaApp || {};
			window.VanillaApp.PostsQuery = {
				Text: '@(ViewBag.Query != null ? ViewBag.Query.Text : "")',
				Category: {
					Id: '@(ViewBag.Query != null && ViewBag.Query.Category != null ? ViewBag.Query.Category.Id : 0)'
				},
				Tags: [
					@if (ViewBag.Query != null && ViewBag.Query.Tags != null)
					{
						foreach (dynamic tag in ViewBag.Query.Tags)
						{
							@:{ Id: @tag.Id, Title: '@tag.Title' }
						}
					}
				],
				OrderBy: '@(ViewBag.Query != null ? ViewBag.Query.OrderBy : "")'
			};
		})();
	</script>
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/ngtagsjs")
	@Scripts.Render("~/bundles/app")
}