﻿@model DevInterview.Dal.Entities.NotBusiness.SearchResult<PostModel>
@{
	Layout = null;
}

<section class="post-related">
	<nav>
		<h2>Similar articles</h2>
		<ul>
			@foreach (PostModel post in Model.Data)
			{
				<li>
					<a href="/p/@post.Category.UrlSlug/@post.UrlSlug-@post.Id">@post.Title</a>
				</li>
			}
		</ul>
	</nav>
</section>