﻿<div ng-controller="CategoriesCtrl">
	<h2 class="text-center">Categories</h2>
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="cat in $data">
			<td data-title="'Title'" style="width: 180px;">
				<span ng-if="!cat.$edit">{{cat.Title}}</span>
				<div ng-if="cat.$edit">
					<input class="form-control" type="text" ng-model="cat.Title"/>
				</div>
			</td>
			<td data-title="'Description'">
				<span ng-if="!cat.$edit">{{cat.Description}}</span>
				<div ng-if="cat.$edit">
					<input class="form-control" type="text" ng-model="cat.Description"/>
				</div>
			</td>
			<td data-title="'URL'" style="width: 150px;">
				<span ng-if="!cat.$edit">{{cat.UrlSlug}}</span>
				<div ng-if="cat.$edit">
					<input class="form-control" type="text" ng-model="cat.UrlSlug"/>
				</div>
			</td>
			<td data-title="'Actions'" style="width: 150px;">
				<a ng-if="!cat.$edit" href="" class="btn btn-default btn-xs" ng-click="cat.$edit = true">Edit</a>
				<a ng-if="cat.$edit" href="" class="btn btn-primary btn-xs" ng-click="save(cat)">Save</a>
				<a ng-if="cat.Id > 0" href="" class=" btn btn-warning btn-xs" ng-click="delete(cat)">Delete</a>
			</td>
		</tr>
	</table>
	<a href="" class="btn btn-default btn-sm" ng-click="create()">Create</a>
</div>