﻿<div ng-controller="ConfigurationCtrl">
	<h2 class="text-center">Configuration</h2>
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="cfg in $data">
			<td data-title="'Key'" style="width: 180px;">
				<span>{{cfg.Key}}</span>
			</td>
			<td data-title="'Value'">
				<span ng-if="!cfg.$edit">{{cfg.Value}}</span>
				<div ng-if="cfg.$edit">
					<input class="form-control" type="text" ng-model="cfg.Value"/>
				</div>
			</td>
			<td data-title="'Actions'" style="width: 150px;">
				<a ng-if="!cfg.$edit" href="" class="btn btn-default btn-xs" ng-click="cfg.$edit = true">Edit</a>
				<a ng-if="cfg.$edit" href="" class="btn btn-primary btn-xs" ng-click="save(cfg)">Save</a>
			</td>
		</tr>
	</table>
	<button class="btn btn-default btn-xs" ng-click="refreshIndex()">Refresh Lucene Index</button>
</div>