﻿<div ng-controller="EditPostCtrl" class="form-horizontal edit-post">
	<h2 class="text-center">Edit post</h2>
	<div class="form-group">
		<label class="col-md-2 control-label">Title <button class="btn btn-xs" ng-click="checkSimilar()" ng-disabled="post.Title.length < 3">Check</button></label>
		<div class="col-md-10 input-group">
			<input type="text" ng-model="post.Title" class="form-control">
			<span class="input-group-addon" ng-bind="post.Title.length"></span>
		</div>
	</div>
	<div class="form-group" ng-show="similarPosts.length > 0">
		<label class="col-md-2 control-label">Similar posts</label>
		<div class="col-md-10 input-group">
			<ul>
				<li ng-repeat="post in similarPosts">{{post}}</li>
			</ul>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Description</label>
		<div class="col-md-10 input-group">
			<input type="text" ng-model="post.Description" class="form-control">
			<span class="input-group-addon" ng-bind="post.Description.length"></span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Category</label>
		<div class="col-md-10">
			<select class="form-control" ng-model="post.Category.Id" ng-options="cat.Id as cat.Title for cat in categories"></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Tags</label>
		<div class="col-md-10">
			<tags-input ng-model="post.Tags" key-property="Id" display-property="Title">
				<auto-complete source="loadTags($query)" display-property="Title" min-length="2"></auto-complete>
			</tags-input>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Is Visible</label>
		<div class="col-md-10">
			<input class="form-control auto-width" ng-model="post.IsVisible" type="checkbox"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Is Linking Required</label>
		<div class="col-md-10">
			<input class="form-control auto-width" ng-model="post.IsLinkingRequired" type="checkbox"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Body first part</label>
		<div class="col-md-10">
			<textarea ckeditor ng-model="post.BodyStart"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Body second part</label>
		<div class="col-md-10">
			<textarea ckeditor ng-model="post.BodyEnd"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2"></div>
		<div class="col-md-1">
			<button class="btn btn-default" ng-click="save()">Save</button>
		</div>
		<div class="col-md-9">
			<button class="btn btn-success" ng-click="saveNow()">Save Now</button>
		</div>
	</div>
</div>