﻿<div ng-controller="LogsCtrl">
	<h2 class="text-center">Logs</h2>
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="log in $data">
			<td data-title="'File Name'">
				<a href="/Logs/{{log.FileName}}" target="_blank">{{log.FileName}}</a>
			</td>
			<td data-title="'Actions'" style="width: 150px;">
				<a href="" class="btn btn-warning btn-xs" ng-click="delete(log)">Delete</a>
			</td>
		</tr>
	</table>
</div>