﻿<div ng-controller="PostsCtrl">
	<h2 class="text-center">Posts</h2>
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="post in $data">
			<td data-title="'Title'" sortable="'Title'">
				<a href="/p/{{post.Category.UrlSlug}}/{{post.UrlSlug}}-{{post.Id}}">{{post.Title}}</a>
			</td>
			<td data-title="'Category'" style="width: 200px;">
				<span>{{post.Category.Title}}</span>
			</td>
			<td data-title="'Created'" sortable="'Created'" style="width: 150px;">
				<span>{{post.Created | date : "MM/dd/yyyy, hh:mm"}}</span>
			</td>
			<td data-title="'Links needed'" sortable="'IsLinkingRequired'" style="width: 150px;">
				<span >{{post.IsLinkingRequired | yesNoFlag}}</span>
			</td>
			<td data-title="'Actions'" style="width: 150px;">
				<a href="/ControlPanel/Admin/EditPost/{{post.Id}}" class="btn btn-default btn-xs">Edit</a>
				<a href="" class="btn btn-warning btn-xs" ng-click="delete(post)">Delete</a>
			</td>
		</tr>
	</table>
	<a href="/ControlPanel/Admin/EditPost" class="btn btn-default btn-sm">Create</a>
</div>