﻿<div ng-controller="UsersCtrl">
	<h2 class="text-center">Users</h2>
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="user in $data">
			<td data-title="'Login'">
				<span ng-if="!user.$edit">{{user.UserName}}</span>
				<div ng-if="user.$edit">
					<input class="form-control" type="text" ng-model="user.UserName"/>
				</div>
			</td>
			<td data-title="'Is Active'" style="width: 100px;">
				<input class="form-control" type="checkbox" ng-model="user.IsActive" ng-disabled="!user.$edit"/>
			</td>
			<td data-title="'Is Deleted'" style="width: 100px;">
				<input class="form-control" type="checkbox" ng-model="user.IsDeleted" ng-disabled="!user.$edit"/>
			</td>
			<td data-title="'Role'" style="width: 150px;">
				<select class="form-control" type="checkbox" ng-model="user.RoleId" ng-disabled="!user.$edit" ng-options="role.Id as role.Name for role in roles">
					<option></option>
				</select>
			</td>
			<td data-title="'Actions'" style="width: 150px;">
				<a ng-if="!user.$edit" href="" class="btn btn-default btn-xs" ng-click="user.$edit = true">Edit</a>
				<a ng-if="user.$edit" href="" class="btn btn-primary btn-xs" ng-click="save(user)">Save</a>
				<a href="" class="btn btn-warning btn-xs" ng-click="delete(user)">Delete</a>
			</td>
		</tr>
	</table>
</div>