@using System.Web.Optimization
@{
	Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Jasmine Spec Runner</title>

	<link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
	@Styles.Render("~/bundles/jasmine")

</head>

<body>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/controlpanel")
@Scripts.Render("~/bundles/unit-tests")
</body>
</html>