﻿@{
	ViewBag.Title = "Error 404 - we have lost something";
}

<div class="page-header">
	<h1 class="text-center">Error 404 - we have lost something</h1>
</div>
<div class="text-center" style="opacity: 0.25;">
	<img src="~/Images/404.png"/>
</div>
<h4 class="text-center" style="margin-top: 25px;">Or you are trying to reach something that doesn't exist</h4>