﻿@{
	ViewBag.Title = "Error - something went wrong";
}

<div class="page-header">
	<h1 class="text-center">You see an error - something went wrong at some point</h1>
</div>
<div class="text-center" style="opacity: 0.25;">
	<img src="~/Images/error.png"/>
</div>
<h4 class="text-center" style="margin-top: 25px;">Probably it is our fault. Sorry.</h4>