﻿@using DevInterview.Common.Configuration
@model StatisticsModel
@{
	Layout = null;
	string pageUrl = string.Format("http://{0}/", AppCfgReader.DomainName);
}

<section class="widget about-widget">
	<h3>
		About this site
	</h3>
	<div>
		Working for <strong>@Model.DaysSinceStart</strong> days, <strong>@Model.PostsCount</strong> articles in <strong>@Model.CategoriesCount</strong> categories,
		tagged with <strong>@Model.TagsCount</strong> tags, upvoted <strong>@Model.VotesCount.Item1</strong> times.
	</div>
	<br/>
	<h3>
		Share
	</h3>
	<div>Your shares on social networks are highly appreciated!</div>
	<div class="social-buttons">
		<div class="fb-like" data-href="@pageUrl" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<br/>
		<a href="http://twitter.com/intent/tweet?url=@pageUrl&text=@Uri.EscapeUriString(AppCfgReader.DomainName + " - a comprehensive list of software development job interview questions")" target="_blank">
			<img alt="Share on Twitter" src="~/Images/tweet-button.png"/>
		</a>
		<br/>
		<a href="https://plus.google.com/share?url=@pageUrl" target="_blank">
			<img alt="Share on Google+" src="~/Images/g-button.png"/>
		</a>
	</div>
</section>