﻿@using DevInterview.Web.Infrastructure.RazorExtensions
@model IEnumerable<CategoryModel>
@{
	Layout = null;
}

<section class="categories-widget widget">
	<h3>
		Categories
	</h3>
	<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul>
			@foreach (CategoryModel cat in Model)
			{
				<li>
					@Html.RouteLink(cat.Title, "Category", new
					{
						category = cat.UrlSlug
					}, new
					{
						@class = "btn btn-link " + Html.ActiveLink(cat.UrlSlug, "category")
					})<span class="badge">@cat.PostsCount</span>
				</li>
			}
		</ul>
	</nav>
</section>