﻿@using DevInterview.Web.Infrastructure.RazorExtensions
@model IEnumerable<TagModel>
@{
	Layout = null;
}

<section class="widget tags-widget">
	<h3>
		Tags
	</h3>
	<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
		@foreach (TagModel tag in Model)
		{
			<a href="@Url.RouteUrl("Tag", new
			         {
				         tag = tag.UrlSlug
			         })" class="tag-link">
				<span class="btn btn-default btn-xs @Html.ActiveLink(tag.UrlSlug, "tag")">@tag.Title</span><span class="tag-counter btn btn-info btn-xs">@tag.PostsCount</span>
			</a>
		}
	</nav>
</section>