tags-input {
	border: none;
	box-shadow: none;
	min-height: 34px;
	padding: 0;
}

tags-input .host {
	margin: 0;
}

tags-input .tags {
	-moz-appearance: none;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

tags-input .tags .tag-item {
	background: #428bca;
	border: 1px solid #357ebd;
	border-radius: 4px;
	color: white;
}

tags-input .tags .tag-item.selected {
	background: #d9534f;
	border: 1px solid #d43f3a;
	color: white;
}

tags-input .tags .tag-item .remove-button:hover {
	text-decoration: none;
}

tags-input .tags.focused {
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	border: 1px solid #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

tags-input .autocomplete {
	border-radius: 4px;
}

tags-input .autocomplete .suggestion-item.selected {
	background-color: whitesmoke;
	color: #262626;
}

tags-input .autocomplete .suggestion-item.selected em {
	background-color: whitesmoke;
	color: #262626;
}

tags-input .autocomplete .suggestion-item em {
	background-color: white;
	color: black;
}

tags-input.ng-invalid .tags {
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	border-color: #843534;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.input-group tags-input {
	display: table-cell;
	padding: 0;
}

.input-group tags-input:not(:first-child) .tags {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.input-group tags-input:not(:last-child) .tags {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-lg tags-input:first-child .tags {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.input-group-lg tags-input:last-child .tags {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}

.input-group-sm tags-input:first-child .tags {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.input-group-sm tags-input:last-child .tags {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

tags-input.ti-input-lg,
.input-group-lg tags-input {
	min-height: 46px;
}

tags-input.ti-input-lg .tags,
.input-group-lg tags-input .tags {
	border-radius: 6px;
}

tags-input.ti-input-lg .tags .tag-item,
.input-group-lg tags-input .tags .tag-item {
	border-radius: 6px;
	font-size: 18px;
	height: 38px;
	line-height: 37px;
}

tags-input.ti-input-lg .tags .tag-item .remove-button,
.input-group-lg tags-input .tags .tag-item .remove-button {
	font-size: 20px;
}

tags-input.ti-input-lg .tags .input,
.input-group-lg tags-input .tags .input {
	font-size: 18px;
	height: 38px;
}

tags-input.ti-input-sm,
.input-group-sm tags-input {
	min-height: 30px;
}

tags-input.ti-input-sm .tags,
.input-group-sm tags-input .tags {
	border-radius: 3px;
}

tags-input.ti-input-sm .tags .tag-item,
.input-group-sm tags-input .tags .tag-item {
	border-radius: 3px;
	font-size: 12px;
	height: 22px;
	line-height: 21px;
}

tags-input.ti-input-sm .tags .tag-item .remove-button,
.input-group-sm tags-input .tags .tag-item .remove-button {
	font-size: 16px;
}

tags-input.ti-input-sm .tags .input,
.input-group-sm tags-input .tags .input {
	font-size: 12px;
	height: 22px;
}

.has-feedback tags-input .tags {
	padding-right: 30px;
}

.has-success tags-input .tags {
	border-color: #3c763d;
}

.has-success tags-input .tags.focused {
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	border-color: #2b542c;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-error tags-input .tags {
	border-color: #a94442;
}

.has-error tags-input .tags.focused {
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	border-color: #843534;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-warning tags-input .tags {
	border-color: #8a6d3b;
}

.has-warning tags-input .tags.focused {
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
	border-color: #66512c;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}