tags-input {
	display: block;
}

tags-input *,
tags-input *:before,
tags-input *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

tags-input .host {
	height: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	position: relative;
}

tags-input .host:active {
	outline: none;
}

tags-input .tags {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: white;
	border: 1px solid darkgray;
	box-shadow: 1px 1px 1px 0 lightgray inset;
	cursor: text;
	height: 100%;
	overflow: hidden;
	padding: 1px;
	word-wrap: break-word;
}

tags-input .tags.focused {
	-moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
	-webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
	box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
	outline: none;
}

tags-input .tags .tag-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

tags-input .tags .tag-item {
	background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	border: 1px solid #acacac;
	border-radius: 3px;
	display: inline-block;
	float: left;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 26px;
	line-height: 25px;
	margin: 2px;
	padding: 0 5px;
}

tags-input .tags .tag-item.selected {
	background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
	background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}

tags-input .tags .tag-item .remove-button {
	background: none;
	border: none;
	color: #585858;
	cursor: pointer;
	font: bold 16px Arial, sans-serif;
	margin: 0 0 0 5px;
	padding: 0;
	vertical-align: middle;
}

tags-input .tags .tag-item .remove-button:active {
	color: red;
}

tags-input .tags .input {
	border: 0;
	float: left;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 26px;
	margin: 2px;
	outline: none;
	padding: 0;
	padding-left: 5px;
}

tags-input .tags .input.invalid-tag {
	color: red;
}

tags-input .tags .input::-ms-clear {
	display: none;
}

tags-input.ng-invalid .tags {
	-moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
	box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

tags-input .autocomplete {
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	padding: 5px 0;
	position: absolute;
	width: 100%;
	z-index: 999;
}

tags-input .autocomplete .suggestion-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

tags-input .autocomplete .suggestion-item {
	background-color: white;
	color: black;
	cursor: pointer;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

tags-input .autocomplete .suggestion-item.selected {
	background-color: #0097cf;
	color: white;
}

tags-input .autocomplete .suggestion-item.selected em {
	background-color: #0097cf;
	color: white;
}

tags-input .autocomplete .suggestion-item em {
	background-color: white;
	color: black;
	font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}